
@model IEnumerable<BookStore.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
    var grid = new WebGrid(Model, canPage: true, defaultSort: "BookName", rowsPerPage: 5);
}

<h2 style="text-align:center">KHO SÁCH</h2>


@using (Html.BeginForm("Index", "Books", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <table class="table1" align="center">
        <tr>
            <td>
                <div>Mã Sách</div>
            </td>
            <td>
                <input style="margin-bottom:5px; margin-left:5px" type="text" name="ma"
                       class="form-control" placeholder="mã sách">
            </td>
        </tr>
        <tr>
            <td>Tên Sách</td>
            <td>
                <input style="margin-bottom:5px; margin-left:5px" type="text" name="ten" class="form-control"
                       placeholder="tên sách">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button type="submit" class="btn btn-success" style="width:100px; margin-left:5px">Tìm kiếm</button>
                <button type="button" class="btn btn-danger" style="width:100px"
                        onclick="location.href='@Url.Action("Index", "Books/Index")'">
                    Nhập mới
                </button>
            </td>
        </tr>
    </table>
}

<p>
    @Html.ActionLink("Thêm sách vào kho", "Create")
</p>

<div id="gridContent">
    @grid.GetHtml(
        tableStyle: "table table-sm table-bordered table-hover table-striped",
        headerStyle: "thead-dark",
        footerStyle: "grid-footer",
        fillEmptyRows: true,
        mode: WebGridPagerModes.Numeric,
        alternatingRowStyle: "alternatingRowStyle",
        columns: new[]
        {
            grid.Column("STT",format: item => item.WebGrid.Rows.IndexOf(item) + 1 + Math.Round(Convert.ToDouble(grid.TotalRowCount / grid.PageCount) / grid.RowsPerPage) * grid.RowsPerPage * grid.PageIndex),
            grid.Column("Hình ảnh", format: @<text><div><img style="width:30%;height:40%" src="~/Assets/books/@item.Avatar" /></div></text>),
grid.Column("BookID","Mã Sách"),
grid.Column("BookName","Tên Sách"),
grid.Column("Price","Giá"  ),
grid.Column("Quantity","Số lượng"),
grid.Column("CreateByDate","Ngày đăng",format:@<text> @item.CreateByDate.ToString("dd/MM/yyyy")</text>),
grid.Column("Chức năng", format: @<text>
    <a href="@Url.Action("Edit",
                        new { id = item.BookID})" class="edit-btn"><abbr title="Cập nhật dữ liệu"><img src="~/Assets/books/edit.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Details",
                        new { id = item.BookID})" class="edit-btn"><abbr title="Xem chi tiết"><img src="~/Assets/books/details.png" width="20" height="20" /></abbr></a>
    <a href="@Url.Action("Delete",
                        new { id = item.BookID})" class="edit-btn"><abbr title="Xóa dữ liệu"><img src="~/Assets/books/delete.png" width="20" height="20" /></abbr></a>
</text>)
}
)
</div>