@model IEnumerable<Web_61131562.Models.EF.LoaiMH>
@{
    ViewBag.Title = "Loại Mặt Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


@section naviheader{
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/trangchu" class="nav-link">Trang Chủ</a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/admin/loaimh" class="nav-link">@ViewBag.Title</a>
        </li>
    </ul>}
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Quản Lý Loại Mặt Hàng</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item active">@ViewBag.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">@ViewBag.Title</h3>

            <div class="card-tools">
                <a href="/admin/loaimh/them" class="btn btn-primary">Thêm Mới</a>
                <a href="#" class="btn btn-danger" id="BtnXoaTatCa">Xóa</a>
            </div>
        </div>
        <div class="card-body">
            
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="ChonTatCa" /></th>
                        <th>STT</th>
                        <th>Loại Mặt Hàng</th>
                        <th>Ngày Tạo</th>
                        @*<th>Hiển Thị</th>*@
                        <th style="width:150px;"></th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null && Model.Any())
                    {
                        var i =  1;
                        foreach (var item in Model)
                        {

                           // var strCheck = item.IsActive ? "<i class = 'fa fa-check text-success'></i>" : "<i class='fas fa-times text-danger'></i>";
                            <tr id="trow_@item.MaLMH">
                                <td><input type="checkbox" class="cbkItem" value="@item.MaLMH" /></td>
                                <td>@i</td>
                                
                                <td>@item.TenLMH</td>
                                <td>@item.NgayTao.ToString("dd/MM/yyyy")</td>
                                @*<td class="text-center" style="white-space: nowrap; vertical-align: middle;">
                                    <a href='#' data-id="@item.MaLMH" class="btnActive">@Html.Raw(strCheck)</a>
                                </td>*@
                                <td>
                                    <a href="/admin/loaimh/sua/@item.MaLMH" class="btn btn-sm btn-primary">Sửa</a>
                                    <a href="#" data-id="@item.MaLMH" class="btn btn-sm btn-danger btnXoa">Xóa</a>
                                </td>
                            </tr>
                            i++;

                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="4">Không có bản ghi nào!</td>
                        </tr>

                    }
                </tbody>
            </table>
            
            </div>

        </div>
        <!-- /.card-body -->
        <div class="card-footer">

        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
@section styles {
    <style>
        th {
            white-space: nowrap !important;
        }
    </style>
}
<!-- /.content -->
@section scripts{
    <script>
        $(document).ready(function () {
            $('body').on('click', '#BtnXoaTatCa', function (e) {
                e.preventDefault();
                var str = "";
                var checkBox = $(this).parents('.card').find('tr td input:checkbox');
                var i = 0;
                checkBox.each(function () {
                    if (this.checked) {
                        checkBox.attr('selected', 'checked');
                        var _id = $(this).val();
                        if (i === 0) {
                            str += _id;
                        } else {
                            str += "," + _id;
                        }
                        i++;
                    } else {
                        checkBox.attr('selected', '');
                    }
                });
                if (str.length > 0) {
                    var conf = confirm('Bạn có muốn xóa bản ghi này không?');
                    if (conf === true) {
                        $.ajax({
                            url: '/admin/tintuc/xoaTatCa',
                            type: 'POST',
                            data: { ids: str },
                            success: function (rs) {
                                if (rs.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                }

            });


            $('body').on('change', '#ChonTatCa', function () {
                var checkStatus = this.checked;
                var checkBox = $(this).parents('.card-body').find('tr td input:checkbox');
                checkBox.each(function () {
                    this.checked = checkStatus;
                    if (this.checked) {
                        checkBox.attr('selected', 'checked');
                    } else {
                        checkBox.attr('selected', '');
                    }
                });
            });
            $('body').on('click', '.btnXoa', function () {
                var id = $(this).data("id");
                var conf = confirm('Bạn có muốn xóa bản ghi này không ?');
                if (conf == true) {
                    $.ajax({
                        url: '/admin/tintuc/xoa',
                        type: 'POST',
                        data: { id: id },
                        success: function (rs) {
                            if (rs.success) {
                                $('#trow_' + id).remove();
                            }
                        }
                    });
                }
            });
            $('body').on('click', '.btnActive', function (e) {
                e.preventDefault();
                var btn = $(this);
                var id = btn.data("id");
                $.ajax({
                    url: '/admin/tintuc/IsActive',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        debugger;
                        if (rs.success) {
                            if (rs.isActive) {
                                btn.html("<i class='fa fa-check text-success'></i>");
                                //$(this).find("i").removeClass("fas fa-times text-danger");
                                //$(this).find("i").addClass("fa fa-check text-success");
                            } else {
                                btn.html("<i class='fas fa-times text-danger'></i>");
                            }
                        }

                    }
                });
            });
        });
    </script>
}

