@model IEnumerable<Web_61131562.Models.EF.CTDH>
@if (Model != null && Model.Any())
{
    int i = 1;
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Tên Mặt Hàng</th>
                <th>Giá</th>
                <th>Số Lượng</th>
                <th>Thành Tiền</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@i</td>
                    <td>@item.MatHang.TenMH</td>
                    <td>@item.Gia</td>
                    <td>@item.SoLuong</td>
                    <td>@Web_61131562.Common.Common.FormatNumber((item.Gia * item.SoLuong), 0)</td>
                </tr>
                i++;
            }
        </tbody>
    </table>
}
