@model IEnumerable<Web_61131562.Models.EF.AnhMH>
@{
    ViewBag.Title = "Ảnh Mặt Hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutEmpty.cshtml";
}
<style>
    .glAnh{
        list-style:none;
        margin:0;
        padding:0;
        display: flex;
    }
    .glAnh li{
      /*  flex-direction:*/
      display:inline-block;
      position: relative;
    }
    .box-btn{
        position:absolute;
        bottom:0;
        left:0;
        width: 100%;
        text-align: center;
    }
</style>
<!-- Main content -->
<section class="content">

    <!-- Default box -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Ảnh Mặt Hàng</h3>

            <div class="card-tools">
                <button type="button" class="btn btn-danger" title="Collapse">
                    Xóa Hết
                </button>
                <input type="button" value="Tải Ảnh" class="btn btn-success" onclick="BrowseServer('txtAnh');" />
            </div>
        </div>
        <div class="card-body">
            <ul class="glAnh">
                @if(Model != null)
            {
                foreach(var item in Model)
                {
                <li id="trow_@item.MaAMH">
                    <img src="@item.Anh" width="200" />
                    <div class="box-btn">
                        <a href="#" data-id="@item.MaAMH" class="btn btn-sm btn-danger btnXoa"><i class="fa fa-trash"></i></a>
                        @if (item.MacDinh)
                        {
                            <a href="#" data-id="@item.MaAMH" class="btn btn-sm btn-success btnMacDinh"><i class="fa fa-check"></i></a>
                        }
                        else
                        {
                            <a href="#" data-id="@item.MaAMH" class="btn btn-sm btn-warning btnMacDinh">X</a>
                        }
                    </div>
                </li>
                    }
                }
            </ul>
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            
        </div>
        <!-- /.card-footer-->
    </div>
    <!-- /.card -->

</section>
<!-- /.content -->
<script>
    function BrowseServer(field) {
        var finder = new CKFinder();
        finder.selectActionFunction = function (fileUrl) {
            ThemAnh(@ViewBag.maMH, fileUrl);
        };
        finder.popup();
    }
    function ThemAnh(id, url) {
        $.ajax({
            url: '/admin/anhmh/ThemAnh',
            type: 'POST',
            data: { maMH: id, url:url },
            success: function (rs) {
                if (rs.Success) {
                    window.location.reload();
                }
            }
        });
    }
    $(document).ready(function () {
        $('body').on('click', '.btnXoa', function () {
            var id = $(this).data('id');
            var conf = confirm('Bạn có muốn xóa ảnh này không?');
            if (conf === true) {
                $.ajax({
                    url: '/admin/anhmh/xoa',
                    type: 'POST',
                    data: { id: id },
                    success: function (rs) {
                        if (rs.success) {
                            $('#trow_' + id).remove();
                        }
                    }
                });
            }
        });
    });
</script>