@model BookStore.Models.Customer

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<h3>Xóa người dùng này?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Địa chỉ khách hàng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>


        <dt>
            Tên khách hàng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>


        <dt>
            Giới tính
        </dt>
        <dd>
            @if (@Html.DisplayNameFor(model => model.Gender).Equals(true))
            {
                <p>Nam</p>
            }
            else
            {
                <p>Nữ</p>
            }
        </dd>


        <dt>
            Ngày sinh
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birth)
        </dd>


        <dt>
            Số điện thoại
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>


        <dt>
            Email
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
