@model IEnumerable<Web_61131562.Models.EF.MatHang>
    @using Web_61131562.Common
@if (Model != null && Model.Any())
{
    <div class="best_sellers">
        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <div class="section_title new_arrivals_title">
                        <h2>Best Sellers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="product_slider_container" style="height:500px">
                        <div class="owl-carousel owl-theme product_slider">
                            @foreach (var item in Model)
                            {
                                var strImg = "";
                                var img = item.AnhMH.FirstOrDefault(x => x.MacDinh);
                                if (img != null)
                                {
                                    strImg = img.Anh;
                                }
                                <div class="owl-item product_slider_item">
                                    <div class="product-item @item.LoaiMH.Alias">
                                        <div class="product discount product_filter">
                                            <div class="product_image">
                                                <img src="@strImg" alt="@item.TenMH">
                                            </div>
                                            <div class="favorite favorite_left"></div>
                                            @if (item.GiaKM > 0)
                                            {
                                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>sale</span></div>
                                            }
                                            @* <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-$20</span></div>*@
                                        <div class="product_info">
                                            <h6 class="product_name"><a href="/chi-tiet/@item.Alias-p@(item.MaMH)">@item.TenMH</a></h6>
                                            @if (item.GiaKM > 0)
                                            {
                                                <div class="product_price">@Common.FormatNumber(item.GiaKM, 0)<span>@Common.FormatNumber(item.GiaBan, 0)</span></div>
                                                <div style="display:none;" class="in_product_price">@item.GiaKM</div>
                                            }
                                            else
                                            {
                                                <div class="product_price">@Common.FormatNumber(item.GiaBan, 0)</div>
                                                <div style="display:none;" class="in_product_price">@item.GiaBan</div>
                                            }
                                        </div>
                                            
                                        </div>
                                        <div class="red_button add_to_cart_button mt2"><a href="#" class="btnThemVaoGioHang" data-id="@item.MaMH">Thêm Vào Giỏ Hàng</a></div>
                                    </div>
                                </div>
                            }

                            
                        </div>

                        <!-- Slider Navigation -->

                        <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-left" aria-hidden="true"></i>
                        </div>
                        <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
